@font-face {
    font-family: 'emb_caveat';
    src: url('../fonts/Caveat-Bold.woff2') format('woff2'),
        url('../fonts/Caveat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_frijole';
    src: url('../fonts/Frijole.woff2') format('woff2'),
        url('../fonts/Frijole.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_indie_flower';
    src: url('../fonts/IndieFlower.woff2') format('woff2'),
        url('../fonts/IndieFlower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_langar';
    src: url('../fonts/Langar-Regular.woff2') format('woff2'),
        url('../fonts/Langar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_lemon';
    src: url('../fonts/Lemon-Regular.woff2') format('woff2'),
        url('../fonts/Lemon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_ramaraja';
    src: url('../fonts/Ramaraja.woff2') format('woff2'),
        url('../fonts/Ramaraja.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_ruslan_display';
    src: url('../fonts/RuslanDisplay.woff2') format('woff2'),
        url('../fonts/RuslanDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_shadows_into';
    src: url('../fonts/ShadowsIntoLight.woff2') format('woff2'),
        url('../fonts/ShadowsIntoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_shojumaru';
    src: url('../fonts/Shojumaru-Regular.woff2') format('woff2'),
        url('../fonts/Shojumaru-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_staatliches';
    src: url('../fonts/Staatliches-Regular.woff2') format('woff2'),
        url('../fonts/Staatliches-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'emb_unifraktur_cook';
    src: url('../fonts/UnifrakturCook-Bold.woff2') format('woff2'),
        url('../fonts/UnifrakturCook-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

